replicaCount: 1

image:
  repository: bronyakorolyova/argo 
  pullPolicy: IfNotPresent
  tag: "latest"


service:
  type: ClusterIP
  port: 5000 

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix 
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  create: true
  name: ""
