apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flask-app.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "flask-app.name" . }} 
  template:
    metadata:
      labels:
        app: {{ include "flask-app.name" . }} 
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image }}" 
          ports:
              containerPort: 5000 
